<div class="mt-4">
    <form method="GET" action="/search">
        <div class="mb-3">
            <label for="search-input" class="form-label">keyword</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Enter Keyword...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>

        <div class="form-group">
            <label for="gender-input">Keyword</label>
            <select name="gender" id="gender-input" class="form-control">
                <option value="">--Select Gender--</option>
                <option value="Male">Nam</option>
                <option value="Female">Nu</option>
            </select>
       </div>

    </form>
</div>